<div class="container">

  <div class="row">

    <div class="col-12 col-lg-3">
      <div class="row">

        <div class="visit_card analoge_zeichnungen">
          <%= link_to "analoge zeichnungen", analoge_zeichnungen_path %>
          <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" class="card-img-top" alt="..."> %>
        </div>
      </div>

      <div class="row">
        <p>
          Hier zeige ich meine handgefertigten Zeichnungen
        </p>
      </div>


    </div>
    <div class="col-12 col-lg-9">

      <nav class="navbar " >
        <div class="container navbar_color d-flex justify-content-center ">

            <img src="/assets/imag4.png" class="logo" alt="logo1">


        </div>
      </nav>
      <div class="container d-flex justify-content-space-avenly">

        <div class="visit_card uber_mich" >
        </div>

        <div class="visit_card c3d_video" >
        </div>

        <div class="visit_card materialien" >
        </div>

      </div>

    </div>

  </div>

</div>
