<div class="container">

  <div class="row">

    <div class="col-12 col-lg-3">
      <div class="row">

        <div class="visit_card c3d_video" >
          <%= link_to "3D", mein_3d_path %>
          <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" class="card-img-top" alt="..."> %>
        </div>


      </div>

      <div class="row">

        <p>
          Der Prozess der Herstellung von 3D-Stücken aus Ton, Papier oder Plastilin beginnt mit dem manuellen Modellieren, Formen und Formen des Materials. Anschließend wird es gescannt oder digital geformt, um es in ein digitalisiertes dreidimensionales Design umzuwandeln, das für den Einsatz in verschiedenen Anwendungen bereit ist.

        </p>
      </div>


    </div>
    <div class="col-12 col-lg-9">

      <nav class="navbar " >
        <div class="container navbar_color d-flex justify-content-center ">

            <img src="/assets/imag4.png" class="logo" alt="logo1">
            <%= cl_image_tag("tu_public_id", width: 300, height: 200, crop: :fill) %>
        </div>
      </nav>
      <div class="container d-flex justify-content-space-avenly">

        <div class="visit_card uber_mich" >
        </div>

        <div class="visit_card c3d_video" >
        </div>

        <div class="visit_card materialien" >
        </div>

      </div>

    </div>

  </div>

</div>
