.uber_mich {
  background: rgb(105, 105, 105);
}

.elements_card_2 {
  background: rgb(112, 111, 111)
}

.elements_card_3 {
  background: rgb(62, 61, 61)
}

.config_element_card {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: grey;
  // align-items: center;
  // justify-content: space-around
}
